@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300;400;700&family=Kdam+Thmor+Pro&family=Lora:wght@400;500;600&family=Playfair+Display:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,500&family=Oswald:wght@300;400;600&family=Teko:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}