<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../includes/head.ejs") %>
        <title>Sign Up Form</title>
</head>

<body>
    <h1 class="h1">Create a new Account</h1>
    <p class="errors" style="color: red;"></p>
    <form action="" method="post" class="form">
        <div class="form-control"><label for="name">Enter your User Name</label>
            <input type="text" name="name" placeholder="Your username" id="name">
        </div>
        <div class="form-control"><label for="email">Enter your Email Address</label>
            <input type="email" name="email" placeholder="Email Address" id="email">
        </div>
        <div class="form-control"><label for="phone">Enter your Phone number</label>
            <input type="tel" name="phone" placeholder="Phone number (10 digits)" id="phone">
            <div class="pherror"></div>
        </div>
        <div class="form-control"><label for="addr">Enter your Address</label>
            <input type="text" name="addr" placeholder="Residential Address" id="addr">
        </div>
        <div class="form-control"><label for="pass">Enter your Password</label>
            <input type="password" name="pass" placeholder="Password" id="pass">
        </div>
        <div class="form-control"><label for="cpass">Confirm your Password</label>
            <input type="password" name="cpass" placeholder="Confirm Password" id="cpass">
        </div>

        <button type="submit" class="btn btn-primary">Login Now</button>
    </form>
    <script>
        var form = document.querySelector('.form');
        const errortext = document.querySelector('.errors');
        const phoneInput = document.getElementById('phone');
        phoneInput.addEventListener('input', function () {
            let phoneNumber = phoneInput.value;
            if (phoneNumber.length != 10) {
                document.querySelector('.pherror').innerHTML = "Enter a valid phone number";
                document.querySelector('.pherror').style.color = "red";
            }
            else{
                document.querySelector('.pherror').innerHTML = "This is a valid phone number";
                document.querySelector('.pherror').style.color = "green";
            }
        });
        form.addEventListener('submit', async function (e) {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const name = document.getElementById('name').value;
            const phone = document.getElementById('phone').value;
            const address = document.getElementById('addr').value;
            const password = document.getElementById('pass').value;
            const cpassword = document.getElementById('cpass').value;
            // console.log(email,name,password,cpassword);
            try {
                const res = await fetch('/signup', {
                    method: 'POST',
                    body: JSON.stringify({ name, email, phone, address, password, cpassword }),
                    headers: { 'Content-Type': 'application/json' }
                })
                const data = await res.json();
                console.log(data);
                if (data.error) {
                    console.log(data.error);
                    const errorMessages = data.error.split(',');
                    const firstErrorMessage = errorMessages[0].split(': ')[2];
                    errortext.innerHTML = firstErrorMessage;
                }
                if (data.user) {
                    alert("you have successfully logged in");
                    location.assign("/dashboard");
                }
            }
            catch (err) {
                console.log(err);
            }
        })
    </script>
</body>

</html>