*{
    transition: 0.3s;
}
.about{ 
    height: max-content;
    width: 100%;
    background-color: #e0e0e0;
    overflow: hidden;
    padding: 5%;
    display: flex;
    align-items: center;
    gap: 6rem;
    // padding-bottom: 0;
    button{
        width: 12rem;
        border: none;
        padding:  13px 18px;
        clip-path: polygon(5% 0, 100% 0, 100% 20%, 100% 85%, 95% 100%, 20% 100%, 0 100%, 0 15%);
    }
    h2{
        font-size: 3rem;
    }
}
.dark.about{
    background-color: #1f1f1f;
}
.leftsidecontent, .rightsidecontent{
    // width: 50%;
    position: relative;
}
.leftsidecontent{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.rightsidecontent{
    display: flex;
    position: relative;
    min-height: 80vh;
    padding-right: 10%;
    align-items: center;
    justify-content: center;
}
.dark{
    .span{
        color: chartreuse;
    }
    .aboutspan{
        color: rgba(161, 255, 66, 0.587);
    }
}
.text-justify{
    text-align: justify;
}
@media screen and (max-width: 768px) {
    .rightsidecontent{
        padding-right: 0;
    }
    .about{
        gap: 2rem;
    }
    
}
.imgcontainer{
    position: relative;
    height: 35rem;
    width: 28rem;
    img{
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.407);
    }
}
.pic1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}
.pic3{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;

}
.pic2{
    position: absolute;
    bottom: 28%;
    right: 15%;
    z-index: 4;

}
@media screen and (max-width: 450px) {
    .pic1{
        width: 150px;
        top: 6%;
    }
    .pic2{
        width: 250px;
        right: 2%;
    }
    .pic3{
        width: 150px;
    }
    .about{
        button{
            width: 100%;
        }
        h2{
            font-size: 2.5rem;
        }
    }
}
@media screen and (max-width: 300px) {
    .pic1{
        width: 150px;
        top: 6%;
    }
    .pic2{
        width: 230px;
        right: -1%;
    }
    .pic3{
        width: 150px;
    }
}