.usersection{
    padding-top: 10vh;
    min-height: 100vh;
    height: max-content;
    width: 100%;
    background: #e0e0e0;
    display: flex;
    flex-direction: column;
    
    .pfpsection{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
        padding: 3.5% 0;
    }
    .pfpdiv{
        background: #a7a7a7;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        height: 8rem;
            width: 8rem;
        ion-icon{
            height: 4rem;
            width: 4rem;
            opacity: 0.5;
        }
    }
}
.hi{
    height: 150px;
    width: 150px;
    background: hotpink;
}
.coverform{
    position: absolute;
    z-index: 25;
    padding: 25px;
    border-radius: 10px;
    height: max-content;
    flex-direction: column;
    background: #b5b5b5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.476);
    .close{
        display: flex;
        height: 35px;
        width: 100%;
        justify-content: end;
        ion-icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
    justify-content: center;
    align-items: center;
    .btn-close{
        height: 30px;
        width: 30px;
        align-self: end;
        transform: translateY(-10px);
    }
    form{
        .filewrapper{
            .file{
            width: 100%;
            height: 250px;
            border: 2px dashed purple;
            border-radius: 10px;
            background: transparent;
            opacity: 0;
            position: relative;
            display: flex !important;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed purple;
        border-radius: 10px;
        background-size: cover;
        background-position: center center;
        }
        gap: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    input[type=text]{
            border: none;
            background-color: transparent;
            border-bottom: 2px solid #1212128a;
            padding: 5px;
            outline: none;
            
            &:focus{
                color: purple;
                border-bottom: 2px solid purple;
            }
    }
}
.success{
    color: green;
}
.error{
    color: red;
}
.pfpofuser{
    width: 100%;
    object-fit: cover;
}
.pfpdiv.user{
    border: 3px solid purple;
}
.pfpdiv.user:hover{
    filter: brightness(1.1) blur(1px);
}
.dark{
    background: #1f1f1f;
    .pfpdiv.user{
        border: 3px solid chartreuse;
    }
}
.buttonwrapper {
    display: flex;
    width: 100%;
    gap: 20px;
    .btn{
        width: 50%;
    }
}