nav {
  height: 20vh;
  position: fixed;
  z-index: 999;
  transition: 0.3s;
}
.sun{
    cursor: pointer;
    user-select: none;
}
.dark{
    background: #1f1f1f;
    color: rgb(255, 255, 255);
    a{
        color: white; 
    }
    ul{
        li a{
           color: white;  
        }
        
    }
}
.inp{
    outline: none;
    padding-inline: 2%;
}